@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    font-size: 12px;
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --aquamarine: hsl(176, 100%, 50%);
    --light-aquamarine: hsl(176, 100%, 92%);
    --blueish: hsl(196, 75%, 50%);
    --light-blueish: hsl(196, 75%, 87%);
    /* --light-purpleish: hsl(176, 100%, 98%); */
    --light-purpleish: hsl(251, 100%, 92%);
    --purpleish: hsl(251, 100%, 65%);
    --dark-purpleish: hsl(251, 100%, 8%);
    --dark-aquamarine: hsl(176, 100%, 2%);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Inter', Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    /* font-weight: bold; */

    color: var(--dark-purpleish);
}

#siteMount {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    text-rendering: optimizeLegibility;
    overflow: hidden;
    background: linear-gradient(25deg, var(--dark-aquamarine) 40%, var(--dark-purpleish));
    animation: fade-in 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    /* filter: invert(1); flashbang out 
    animation: invert 1.27s cubic-bezier(.91,.19,.14,.8) forwards ; */
}

a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

::-webkit-resizer {
    background-color: #f0f3f8;
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #f0f3f8;
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tags {
    display: flex;
    font-size: 1.5em;
    color: var(--light-purpleish);
    align-self: flex-end;
}

.tags-left {
    color: var(--light-purpleish);
    transform: translateY(500%);
    animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    padding-right: 0.5em;
}

.tags-mid {
    color: var(--light-purpleish);
    transform: translateY(-400%);
    animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.tags-right {
    color: var(--light-purpleish);
    transform: translateX(300%);
    animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    padding-left: 0.5em;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* justify-content: center; */
    align-items: flex-end;
    padding-right: 4em;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 4em;
}

.middle-line {
    height: 100%;
    border-right: 0.27em var(--light-purpleish) solid;
}

.heading {
    display: flex;
    font-weight: bolder;

    font-size: 2.5em;
    line-height: 100%;
    text-align: right;
    color: var(--light-purpleish);
    transform: translateX(175%);

    animation: slide-in 1.97s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.title {
    display: flex;
    font-weight: bolder;

    font-size: 9em;
    width: 5em;
    overflow-wrap: break-word;
    line-height: 100%;
    text-align: right;
    background: linear-gradient(25deg, var(--aquamarine), var(--purpleish));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(125%);

    animation: slide-in 3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.title2 {
    display: flex;
    font-weight: bolder;

    font-size: 8em;
    width: 5em;
    overflow-wrap: break-word;
    line-height: 100%;
    padding-bottom: 0.18em;
    text-align: right;
    background: linear-gradient(50deg, var(--light-aquamarine) 40%, var(--light-purpleish));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(150%);
    
    animation: slide-in cubic-bezier(0.86, 0, 0.07, 1) 4.27s forwards;
}

.logo {
    margin-left: 4em;
    width: 20em;

    animation: wobble 4s ease-in-out infinite alternate
}

.logo-left {
    transform: translateY(-50%);

    animation: slide-in 2.77s cubic-bezier(0.66, -0.09, 0.31, 1.03) forwards;
}

.logo-right {
    transform: translateY(50%);

    animation: slide-in 3.27s cubic-bezier(0.66, -0.09, 0.31, 1.03) forwards;
}

.left-path {
    animation: bounce-y1 4s -4s cubic-bezier(0.93, 0.02, 0.2, 1) alternate infinite;
}

.right-path {
    animation: bounce-y2 4s -4s cubic-bezier(0.93, 0.02, 0.2, 1) alternate infinite;
}

.middle-line {
    transform: translateY(-100%);

    animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.icon-row {
    display: flex;
    height: 5em;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    width: 45%;
}

.icon-wrapper {
    padding-left: 2.5em;
    padding-right: 2.5em;

    transition-duration: 200ms;
    width: 3.5rem;
}

.icon-wrapper:hover {
    width: 4.5rem;

    padding-left: 2em;
    padding-right: 2em;
}

.reddit-icon {
    transform: translateX(-400%);

    animation: slide-in 0.9s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.twitter-icon {
    transform: translateY(400%);

    animation: slide-in 0.95s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.github-icon {
    transform: translateX(400%);
    
    animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.arrows {
    margin-top: 2em;
    width: 3em;
    transform: translateY(400%);
    animation: slide-in 5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.a1, .a2, .a3 {
    opacity: 0.2;
    transform: translateY(100%);
    animation: slide-in 2s cubic-bezier(0.86, 0, 0.07, 1) forwards, arrows 2s infinite;
}

.a2 {
    animation-delay: -0.1s;
}

.a3 {
    animation-delay: -0.2s;
}

.header-container {
    /* margin-right: 5em; */
    display: flex;
    flex-direction: column;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    /* margin-right: 5em; */
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.navbar {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    font-weight: bold;
    padding-top: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    color: var(--light-purpleish);
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

    color: var(--light-purpleish);
    font-weight: bold;
}

@keyframes slide-in {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.1
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        transform: translateY(0%);
    }
}

@keyframes bounce-y1 {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(0%, -10%);
    }
}

@keyframes bounce-y2 {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(0%, 10%);
    }
}

@keyframes bounce-x {
    from {
        transform: translate(-5%, 0%);
    }
    to {
        transform: translate(5%, 0%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes arrows {
    20% {
        opacity: 1;
    }

    80% {
        opacity: 0.1;
    }
}

/* @keyframes title-color {
    from {
        background: linear-gradient(25deg, var(--aquamarine), var(--purpleish));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    to {
        background: linear-gradient(50deg, var(--light-aquamarine), var(--light-purpleish));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} */

@keyframes wobble {
    from {
        transform: rotate(-6deg);
    }

    to {
        transform: rotate(18deg);
    }
}

.hidden {
    display: none;
}

@media (prefers-reduced-motion) {
    .title {
        animation: slide-in 0.75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }

    .description {
        animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }

    .logo-left {
        animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }

    .logo-right {
        animation: slide-in 1.27s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }
}