@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-size: 12px;
    --primary: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 100%);
    --little-darker-secondary: hsl(0, 0%, 70%);
    --blood-red: hsl(0, 100%, 34%);
}

* {
    font-family: 'Poppins', Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-weight: bold;

    color: var(--secondary);
}

#siteMount {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    text-rendering: optimizeLegibility;
    overflow: hidden;
    background: var(--secondary);
    filter: invert(1);

    animation: invert 1s cubic-bezier(.91, .19, .14, .8) forwards;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typing-metrics,
.typing-content,
.input-container {
    display: flex;
    flex-direction: row;
}

.typing-input {
    display: flex;
    flex-direction: column !important;
    border-left: 0.4em solid var(--secondary);
    padding-left: 4em;
    margin-left: 4em;
    width: 70em;
}

.header {
    font-size: 9em;
    margin-bottom: 0.4em;
    transform: translateY(-100%);
    
    animation: slide-in-y 0.75s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards;
}

.word-count {
    font-size: 7em !important;
    padding: 0em !important;
}

.text {
    height: 100%;
    font-size: 2em;
    transform: translateX(150%);
    
    animation: slide-in-x 0.9s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards;
}

.text-swap {
    animation: text-slide-in-out 1s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards !important;
}

.text span {
    color: var(--little-darker-secondary);
}

.wpm,
.accuracy,
.word-count {
    font-size: 4em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.wpm { 
    transform: translateX(-200%);
    
    animation: slide-in-x 0.9s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards;
}
.accuracy {
    transform: translateX(-200%);
    
    animation: slide-in-x 0.95s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards;
}
.word-count {
    transform: translateX(-200%);
    
    animation: slide-in-x 1s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards;
}

.typing-metrics {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 20em;
}

.input-container {
    margin-top: auto;
    padding-top: 2em;
}

.input-area {
    color: var(--primary);
    background: var(--secondary);
    font: inherit;
    font-size: 1.5em;
    padding: 1.5em 1em;
    overflow: hidden;

    margin-top: auto;
    width: 100%;
    height: 1.5em;
    resize: none;
    outline: none;
    transform: translateY(175%);
    
    animation: slide-in-y 0.75s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards;
}

.restart-button {
    background: var(--primary);
    border: none;
    font-size: 1.5em;
    width: 6em;
    transform: translateX(200%);
    transition-duration: 200ms;
    
    animation: slide-in-x 1s cubic-bezier( 0.86, 0, 0.07, 1 ) forwards;
}

.restart-button:hover {
    width: 5.15em;
    font-size: 1.75em;
}

.ichar {
    color: var(--blood-red) !important; 
    text-decoration: underline;
}

.cchar {
    color: var(--secondary) !important;
}

.navbar {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    color: var(--secondary);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 12px;

    color: var(--secondary);
    font-weight: bold;
}

@keyframes slide-in-x {
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-in-y {
    100% {
        transform: translateY(0%);
    }
}

@keyframes invert {
    to {
        background: var(--primary);
        filter: invert(0)
    }
}

@keyframes wobble {
    from {
        transform: rotate(-8deg);
    }

    to {
        transform: rotate(8deg);
    }
}

@keyframes text-slide-in-out {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0%);
    }
}